c849uvy_m110=/product_h/etc/camera/motiondetection/c849uvy_m110/
c849bdh_m060=/product_h/etc/camera/motiondetection/c849bdh_m060/
c849uvo_m120=/product_h/etc/camera/motiondetection/c849uvo_m120/
cadxlmj_m090=/product_h/etc/camera/motiondetection/cadxlmj_m090/
cadxlmj_m060=/product_h/etc/camera/motiondetection/cadxlmj_m060/
cadxlmj_m091=/product_h/etc/camera/motiondetection/cadxlmj_m091/